@media(max-width: 1023px) {
    .list {
        visibility: hidden;
    }

    .selectedList {
        visibility: visible;
    }

    .btns-navegation {
        display: flex;
    }

    .mouse-touch-icon {
        content: url('https://res.cloudinary.com/thecultclub/image/upload/v1744082781/touch-icon_xlgivo.png');
    }

    .liked-vs-hated-container {
        flex-direction: column;
        gap: 5rem;
    }


    .liked-list-feedback-title {
        top: -5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3.5rem;
        z-index: 1;
    }

    .hated-list-feedback-title {
        top: 50rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3.5rem;
        z-index: 1;
    }

    .card-feedback {
        width: 12rem;
        height: 17rem;
    }

    .card-feedback h3 {
        font-size: 0.8rem;
    }

    .card-pic-feedback {
        width: 10rem;
        height: rem;
    }

    #remove-feedback-btn {
        width: 10rem;
        height: 2.5rem;
    }

    #remove-feedback-btn .text {
        transform: translateX(1rem);
        font-size: 1.1rem;
    }

    #remove-feedback-btn .icon {
        transform: translateX(6.5rem);
        height: 1rem;
    }

    #remove-feedback-btn:hover .icon {
        width: 10rem;
    }

    #remove-feedback-btn:active .icon svg {
        transform: scale(0.8);
    }
}

@media(max-width: 480px) {
    .list {
        transform: scale(0.6);
    }

    .btns-navegation {
        width: 30rem;
    }

    #btn-navegation-left,
    #btn-navegation-right {
        font-size: 4rem;
    }
}