@media(max-width: 1024px) {
    header {
        left: 50%;
        transform: translateX(-50%);
    }

    .input:hover {
        border: 0.2rem solid #444;
    }

    .input:focus {
        border: 0.2rem solid var(--color-light);
        background-color: var(--color-dark);
    }

    .search__btn:hover {
        background-color: var(--color-dark);
    }

    .search__btn:active {
        background-color: #333;
    }

    .list {
        visibility: hidden;
    }

    .selectedList {
        visibility: visible;
    }

    .btns-navegation {
        display: flex;
    }

    .mouse-touch-icon {
        content: url('https://res.cloudinary.com/thecultclub/image/upload/v1744082781/touch-icon_xlgivo.png');
    }

    .feedback-box {
        height: 35rem;
    }

    .feedback-box::-webkit-scrollbar {
        display: none;
    }

    .card-feedback {
        width: 8rem;
        height: 13rem;
        border-radius: 0.5rem;
    }

    .card-feedback h3 {
        width: 6rem;
        font-size: 0.8rem;
    }

    .card-pic-feedback {
        width: 6rem;
        height: 6rem;
        border-radius: 0.25rem;
    }

    .card-feedback p {
        font-size: 0.8rem;
    }

    #remove-feedback-btn {
        width: 6rem;
        height: 2rem;
    }

    #remove-feedback-btn .text {
        transform: translateX(0.5rem);
        font-size: 1rem;
    }

    #remove-feedback-btn .icon {
        width: 1.2rem;
        transform: translateX(4.5rem);
        height: 1rem;
        border-left: none;
    }

    #remove-feedback-btn:hover .icon {
        width: 1.2rem;
        transform: translateX(4.5rem);
    }

    #remove-feedback-btn:hover .icon svg {
        fill: var(--color-text-light);
    }

    #remove-feedback-btn:active .icon svg {
        transform: scale(0.8);
        fill: var(--color-text-light);
    }

    #remove-feedback-btn:hover .text {
        color: var(--color-text-light);
    }

    #remove-feedback-btn:hover {
        background: var(--color-text-dark);
    }

    #remove-feedback-btn:active {
        transform: scale(0.85);
        opacity: 0.8;
    }

    .card-movie,
    .card-serie,
    .card-anime {
        transition: none !important;
    }

    .card-movie:hover,
    .card-serie:hover,
    .card-anime:hover {
        transform: none !important;
        transition: none !important;
        box-shadow: 0rem 0.5rem 1rem var(--shadow-light);
    }

    .card-movie .imdb-star,
    .card-serie .imdb-star,
    .card-anime .imdb-star {
        transition: none !important;
    }

    .card-movie .imdb-star:hover,
    .card-serie .imdb-star:hover,
    .card-anime .imdb-star:hover {
        transform: none !important;
    }

    .feedback-btn::before {
        transition: none !important;
    }

    #like-button::before {
        background-color: #113311;
    }

    #deslike-button::before {
        background-color: #441111;
    }

    .feedback-btn:hover::before {
        width: 4rem !important;
        height: 4rem !important;
    }

    .card-feedback {
        transition: none !important;
    }

    .card-feedback:hover {
        transform: none !important;
        transition: none !important;
        box-shadow: 0rem 0.5rem 1rem var(--shadow-light);
    }

    #remove-feedback-btn,
    #remove-feedback-btn span {
        transition: none !important;
    }

}

@media(max-width: 480px) {
    .searh-container {
        transform: scale(0.8);
    }

    .card-search {
        transform: scale(0.65);
    }

    #slider {
        transform: scale(0.35);
    }

    .btns-navegation {
        width: 30rem;
    }

    #btn-navegation-left,
    #btn-navegation-right {
        font-size: 4rem;
    }

    .liked-vs-hated-container {
        flex-direction: column;
        gap: 5rem;
    }

    .liked-list-feedback-title {
        top: -4.5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3rem;
        z-index: 1;
    }

    .hated-list-feedback-title {
        top: 35.5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3rem;
        z-index: 1;
    }
}